body {
    background-image: linear-gradient(green, yellow, red);
    padding: 40px;
    margin: 10%;
}

.cat{
    position: fixed;
    /*display: inline-block;*/
    float: right;
}

.cat-img {
    width: 44vh;
}

#big{
    width: 800px;
    height: 4500px;
}